<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :LastName, :placeholder=>"Пользователь" %>
  </div>
  <div class="field">
    <%= f.select :group_id, ["Группа",nil]+(Group.all.map {|gr| [gr.name,gr.id]})  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
