<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.LastName %></td>
        <td><%= link_to "Показать", news_index_path(user: user.id), class: "button round tiny success" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый пользователь', new_user_path, class: "button round tiny" %>
