<% logger.debug @news.inspect %>
<%= form_for(@news, url: news_index_path) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :text, :placeholder=>"Новость" %>
  </div>
  <div class="field">
	  <%= f.text_field :whom %>
  </div>
  <div class="actions">
	  <%= f.hidden_field :from %>
    <%= f.submit %>
  </div>
<% end %>
