<p id="notice"><%= notice %></p>

<h1>Listing News</h1>

<div class="row">
	<div class="small-6 columns">
		<table>
		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
		        <td><%= link_to user.LastName + " " + user.group.name, news_index_path(user: user.id) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%= link_to 'Новый пользователь', new_user_path, class: "button round tiny" %>
	</div>
	<div class="small-6 columns">
		<p><h4>Непрочитанные</h4></p>
		<table width=100%>
		  <tbody>
		    <% @new_news.each do |news| %>
		      <tr>
		        <td><%= news.text %><br>&nbsp;&nbsp;&nbsp;От <%= User.find(news.params["from"]).LastName %></td>
		        <td><%= link_to 'Ok', news_path(id: news.id, user: params[:user]), class: "button round tiny success" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%= link_to 'Новая новость', new_news_path(from: params[:user]), class: "button round tiny" %>
		<br>
		<p><h4>Прочитанные</h4></p>
		<table width=100%>
		  <tbody>
		    <% @old_news.each do |news| %>
		      <tr>
		        <td><%= news.text %><br>&nbsp;&nbsp;&nbsp;От <%= User.find(news.params["from"]).LastName %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>

<br>


